body {
  font-family: sans-serif;
  background-color: rgb(235, 235, 235);
  color: rgb(55, 55, 55) !important;
}

button {
  border: 1px solid rgb(205, 205, 205) !important;
  font-size: 1.2em !important;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

path:hover {
  opacity: 0.9;
}

#header-container {
  width: 60%;
  margin: 0 auto;
}

#banner {
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  font-size: 2.8em;
}

#sub-banner {
  margin: 0;
  font-family: 'Laila', cursive;
  text-align: center;
  font-size: 1.5em;
}

#message-bar {
  min-height: 55px;
  width: 60%;
  margin: 0 auto;
}

#message {
  font-family: 'Laila', cursive;
  text-align: center;
  font-size: 1.3em;
}

#map-container {
  background-color: rgb(250, 250, 250);
  position: relative;
  width: 900px;
  max-width: 900px;
  min-width: 900px;
  margin: 0 auto;
  flex-grow: 0;
}

#game {
  display: flex;
}

#start-btn {
  position: absolute;
  top: calc(50% - 2em);
  right: calc(50% - 5em);
  margin: 0;
  padding: 1.5em;
  height: 4em;
  width: 10em;
}

#leftSidebar, #rightSidebar {
  background-color: rgb(235, 235, 235);
}

#leftSidebar {
  flex: 3;
  max-width: calc((100vw - 900px) / 2);
  min-width: 180px;
  padding-left: 20px;
}

#rightSidebar {
  flex: 1;
}


#candidates {
  min-width: 150px;
}

.party-label {
  width: 100px;
  height: 35px;
  text-align: center;
  padding: 8px 5px !important;
  font-weight: bold;
  color: white;
}

/* these classes arent used -- only for vscode color picker */
.correct {
  background-color: rgb(117, 245, 112);
}

.incorrect {
  background-color: rgb(179, 129, 129);
}

.candidate-name {
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 20px;
}
